
@using Agapea_Blazor.Client.Models.Services.Interfaces
@inject IRestService restSvc
@inject NavigationManager navigate

<!--PANEL DE CATEGORIAS RAICES-->
<h4 class="text-dark mt-4 ms-3">Categorías</h4>

    @if (this._rootCategories.Count != 0)
    {
    <div class="list-group">
        @foreach (Categoria cat in _rootCategories)
        {
            <a onclick="@(()=> this.navigate.NavigateTo($"/Tienda/Libros/{cat.IdCategoria}"))"
               class="list-group-item list-group-item-action border border-end-0 border-start-0 text-dark">
               
               @cat.NombreCategoria 
           
           </a>
        }
    </div>
    }

@code {
    public List<Categoria> _rootCategories { get; set; } = new List<Categoria>();

    protected override async Task OnInitializedAsync()
    {
        this._rootCategories = await this.restSvc.RetrieveCategories("");
    }
}
